---
title: "Nathan Friedly's Portfolio"
heading: Portfolio
layout: main
icon: laptop
cssClass: portfolio
scripts:
    - /scripts/lightbox/lightbox-min.js
    - /scripts/portfolio.js
stylesheets: /scripts/lightbox/lightbox.css
headerImage: /img/temp-o-matic-crop.jpg
priority: 1
section: portfolio
eleventyImport:
  collections:
    - projectsSorted
---

<div class="row">
	<div class="col-sm-4 portfolio-intro">
		<p><strong>Nathan Friedly</strong> is an engineering leader and JavaScript expert
            with a history of building companies, managing remote teams, and delivering results.</p>
		<p>He loves mentoring people, automating tasks, shipping products, and delighting users.</p>
		<ul class="links">
		    <li><a href="https://github.com/nfriedly"><i class="fa fa-github"></i>GitHub</a></li>
		    <li><a href="http://stackoverflow.com/users/933879/nathan-friedly"><i class="fa fa-stack-overflow"></i>Stack Overflow</a></li>
		    <li><a href="https://www.linkedin.com/in/nathanfriedly"><i class="fa fa-linkedin"></i>LinkedIn</a></li>
		    <li><a href="/Nathan-Friedly-Resume.pdf" rel="nofollow noindex"><i class="fa fa-file-text"></i>Resum&eacute;</a></li>
		</ul>
	</div>
	<div class="col-sm-8">
	    <div class="panel panel-default tag-cloud hide-small-tags">
            <div class="panel-heading">Click a tag to filter the portfolio <a class="clear-tag" href="#">Clear Filter [X]</a></div>
            <div class="panel-body tag-cloud">
                {% for ts in tagCloud %}
                    <a href="{%- normalizeTag ts.tag -%}" style="font-size: {{ ts.size }}%" {% if ts.minimize %}class="small-tag"{% endif %}>{{ ts.tag }}</a>
                {% endfor %}
                <p><a class="show-small-tags">[Show more tags]</a></p>
            </div>
	    </div>
	</div>
</div>

<hr>

<div class="projects">
    {% for project in collections.projectsSorted %}
<article class="row {{ project.data.cssClass  }}">
    {% if project.data.picture %}
        <div class="col-xs-4">
            <!-- todo: generate thumbnails -->
            <a class="thumb" href="{{ project.data.picture }}" rel="lightbox"><img src="{{ project.data.picture }}" alt="" class="img-thumbnail" /></a>
        </div>
        <div class="col-sm-8">
    {% elsif project.data.youtube %}
        <div class="col-xs-4">
            <div class="thumb youtube"><iframe width="360" height="203" src="https://www.youtube.com/embed/{{ project.data.youtube }}" frameborder="0" allowfullscreen></iframe></div>
        </div>
        <div class="col-sm-8">
    {% elsif project.data.video %}
        <div class="col-xs-4">
            <video class="thumb" src="{{ project.data.video }}" controls></video>
        </div>
        <div class="col-sm-8">
    {% else %}
        <div class="col-xs-12">
    {% endif %}
            <h2>
                {% if project.data.link %}
                    <a href="{{ project.data.link }}">{{ project.data.title }}</a>
                {% else %}
                    {{ project.data.title }}
                {% endif %}
            </h2>
            {% if project.data.icon %}
                <i class="fa fa-{{ project.data.icon }} pull-right fa fa-4x"></i>
            {% endif %}
            {{ project.content }}
            {% if project.data.extraPictures %}
                <div class="row thumbs">
                    {% for pic in project.data.extraPictures %}
                        <!-- todo @getThumbnail(pic, 'zoomcrop', { w: 350, h: 280, q: 70 }) -->
                        <div class="col-xs-6"><a class="thumb" href="{{ pic }}" rel="lightbox"><img src="{{ pic }}" alt="" class="img-thumbnail" /></a></div>
                    {% endfor %}
                </div>
            {% endif %}
            <p class="meta">
                {%- projectBadges project %}
                Tagged 
                {% linkTags project %}
            </p>
        </div>
</article>
{% endfor %}
</div>
