@linkColor: #0088CC;
@hoverLinkColor: #005580;

// todo: boost my base font-size (and line-height) and then shrink the already-boosted stuff back down
//body { font-size: 120%; }

// general styles
a { color: @linkColor; }
a:hover { color: @hoverLinkColor; }

.right, .alignright {
    float: right;
    text-align: right;
}
img.right, img.alignright {
    margin: 0 0 5px 10px;
}
.left, .alignleft {
    float: left;
    text-align: left;
}
img.left, img.alignleft {
    margin: 0 10px 5px 0;
}

header.jumbotron {
	background-image: url(/img/grapes-up.jpg);
	background-repeat: no-repeat; 
	background-size: cover; 
	background-attachment: fixed;
	background-position: center center;
	
	font-size: 100px;

	span { padding: 0.25% 0.5%; background: rgba(0,0,0,0.8); }
	h1 { font-size: 100%; line-height: 150%; span {padding-right: 10px;} }
	h2 { font-size: 40%;  line-height: 150%; span {padding: 0 5px 0 10px;} }
	color: #888;
	a { color: white; }
	a:hover { color: #ddd; text-decoration:none; }
}

@media (min-width: 768px) {
	.homepage .jumbotron, .about .jumbotron { padding: 100px; }
}

@media (max-width: 767px) {
	header.jumbotron { 
		font-size: 40px; 
		padding: 50px 0; 
		background-attachment: scroll; 
	}
}

.post header { font-size: 40px; padding: 50px; margin-bottom: 30px;}

.intro .pic {
	margin-top: 18px;
	img { max-width: 100%; }
}

.maizygram {
	height: 306px; width: 306px;
	
	p {
		line-height: 306px;
		color: #ccc;
		text-align: center;
	}
	
	img { animation: fadein 1s; }
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.feeds h3 { margin-bottom: 20px; }
.feeds ul { padding-left: 0; }

.techblog {
	ul { margin-left: 0; }
	li {
		list-style-type: none; 
		clear: left;
		clear: both;
		margin-top: 16px;
		
		a { 
			text-decoration: none;
			color: inherit;
			display: block;
			padding: 2px;
		}
		a:hover {
			background-color: #ddd;
		}
		
		p { margin: 10px 0 0 0; }
	}
	h4 { margin-top: 0; }

	code { white-space: normal; }
	.clip {
		width: 200px;
		max-height: 150px;
		overflow: hidden;
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
		img {
			width: 100%;
		}
	}
}

.techblog.archives {
	article { clear: both; margin-bottom: 40px;}
	h2 { 
		border-bottom: 1px solid grey; 
		a { text-decoration: none; }
	}
	.meta { background-color: #F4F4F4; padding: 4px;}
}

.github {
	ul { 
		list-style-type: none;
	}
	li { animation: fadein 1s;  margin-top: 20px; }
	i.icon-li { top: 2px; }
	h4, p { margin-bottom: 5px; }
}

.muted a {
	color: inherit
}

footer { 
	ul { margin:0; padding:0; }
	.contact {
		font-size: 160%; 
		li { 
			list-style-type: none; 
			display: inline-block; 
			&:first-child { display: block; }	
			a { text-decoration:none; }
		}
		#email-text {padding-left: 0.5ex;}
	}
	.sitemap ul { font-size: 130%; }
	.info { padding-top:3ex; }
}