@linkColor: #0088CC;
@hoverLinkColor: #005580;

// based on https://github.com/twbs/bootstrap/blob/master/less/variables.less
@screen-xs:                  480px;

// Small screen / tablet
// Note: Deprecated @screen-sm and @screen-tablet as of v3.0.1
@screen-sm:                  768px;

// Medium screen / desktop
// Note: Deprecated @screen-md and @screen-desktop as of v3.0.1
@screen-md:                  992px;

// Large screen / wide desktop
// Note: Deprecated @screen-lg and @screen-lg-desktop as of v3.0.1
@screen-lg:                  1200px;

@screen-xs-max:              (@screen-sm - 1);
@screen-sm-max:              (@screen-md - 1);
@screen-md-max:              (@screen-lg - 1);

// todo: boost my base font-size (and line-height) and then shrink the already-boosted stuff back down
//body { font-size: 120%; }

// general styles
a { color: @linkColor; }
a:hover { color: @hoverLinkColor; }

.right, .alignright {
    float: right;
    text-align: right;
}
img.right, img.alignright {
    margin: 0 0 5px 10px;
}
.left, .alignleft {
    float: left;
    text-align: left;
}
img.left, img.alignleft {
    margin: 0 10px 5px 0;
}

.icons-ul {margin:0;}

.navbar-container {
	& > .container { height: 0;}
	.menu-button {
		z-index: 1200;
		top: 6px;
		right: 15px;
		font-size: 20px;
		color: #888;
		.icon-stack-base { color: black; opacity: 0.8; }
	
		&:hover { color: white; text-decoration: none; }
	}

	.navbar {
		margin: 0;
		position: absolute;
		width: 100%;
		&.collapsing {min-height: 0;}
	}
}


header.jumbotron {
	background-image: url(/img/grapes-up.jpg);
	background-repeat: no-repeat; 
	background-size: cover; 
	background-attachment: fixed;
	background-position: center center;
	
	font-size: 100px;

	span { padding: 0.25% 0.5%; background: rgba(0,0,0,0.8); }
	h1 { font-size: 100%; line-height: 150%; span {padding-right: 10px;} }
	h2 { font-size: 40%;  line-height: 150%; span {padding: 0 5px 0 10px;} }
	color: #888;
	a { color: white; }
	a:hover { color: #ddd; text-decoration:none; }
}

@media (min-width: @screen-md) {
	.homepage .jumbotron, .about .jumbotron { padding: 100px; }
}

@media (max-width: @screen-xs-max) {
	header.jumbotron { 
		font-size: 40px; 
		padding: 50px 0; 
		background-attachment: scroll; 
	}
}

.post header { font-size: 40px; padding: 50px; margin-bottom: 30px;}

.intro .pic {
	margin-top: 18px;
}

@homepageImageHeight: 241px;
@homepageImageReducedHeight: 197px;

.homepage .pics img { height: auto; width: 100%; }
.homepage .pics img.portrait { height: auto; width: 49%; }

@media (min-width: @screen-xs) {
	.homepage .pics img, .homepage .pics img.portrait {
		width: auto;
		height: @homepageImageReducedHeight;
	}

	.maizygram {
		width: @homepageImageReducedHeight; // width = height because this image is always square
		display: inline-block;
	
		p {
			color: #ccc;
			text-align: center;
		}
	
		img { animation: fadein 1s; }
	}
}

@media (min-width: @screen-lg) {
	.homepage .pics img, .homepage .pics img.portrait {
		height: @homepageImageHeight;
	}
	.maizygram {
		width: @homepageImageHeight; // width = height because this image is always square
	}
}



@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.biblequote { margin-top: 36px; border:0; }

.feeds h3 { margin-bottom: 20px; }
.feeds ul { padding-left: 0; }

.techblog {
	ul { margin-left: 0; }
	li {
		list-style-type: none; 
		clear: left;
		clear: both;
		margin-top: 16px;
		
		a { 
			text-decoration: none;
			color: inherit;
			display: block;
			padding: 2px;
		}
		a:hover {
			background-color: #ddd;
		}
		
		p { margin: 10px 0 0 0; }
	}
	h4 { margin-top: 0; }

	code { white-space: normal; }
	.clip {
		width: 200px;
		max-height: 150px;
		overflow: hidden;
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
		img {
			width: 100%;
		}
	}
}

.techblog.archives {
	article { clear: both; margin-bottom: 40px;}
	h2 { 
		border-bottom: 1px solid grey; 
		a { text-decoration: none; }
	}
	.meta { background-color: #F4F4F4; padding: 4px;}
}

.github {
	ul { 
		list-style-type: none;
	}
	li { animation: fadein 1s;  margin-top: 20px; }
	i.icon-li { top: 2px; }
	h4, p { margin-bottom: 5px; }
}

.muted a {
	color: inherit
}

footer { 
	ul { margin:0; padding:0; }
	.contact {
		font-size: 160%; 
		li { 
			list-style-type: none; 
			display: inline-block; 
			&:first-child { display: block; }	
			a { text-decoration:none; }
		}
		#email-text {padding-left: 0.5ex;}
	}
	.sitemap ul { font-size: 130%; }
	.info { 
		padding-top:3ex; 
		img { padding: 5px 5px 5px 0; }
	}
}